extends ../../layout/defaulManager.pug
include ../../mixins/alert.pug


block main 
  +alert-success("5000")
  +alert-error("5000")
  h2 Tổng quát

  .row 
    .col-6
      .card.mb-4 
        .card-header Danh mục hàng hóa
        .card-body 
          p Số lượng: #{statistic.hanghoa}

    .col-6
      .card.mb-4 
        .card-header Danh mục nhà cung cấp
        .card-body 
          p Số lượng: #{statistic.nhacungcap}

    .col-6
      .card.mb-4 
        .card-header Danh mục khách hàng
        .card-body 
          p Số lượng: #{statistic.khachhang}

    .col-6
      .card.mb-4 
        .card-header Danh mục hóa đơn trong 1 tuần
        .card-body 
          p Số lượng: #{statistic.hoadon}
  
