header.header-manager 
  .container-fluid 
    .row.align-items-center 
      .col-3 
        .inner-logo 
          a(href="") Quản lý

      .col-9 
        div(class="text-right")
          a(
            href=`${prefixAdmin}/dashboard`
            class="btn btn-outline-primary btn-sm"
          ) <i class="fa-solid fa-circle-right"></i>